{%extends 'base.html'%}
{%load static%}
{%block content%}
<link rel="stylesheet" type="text/css" href = "{%static '/css/userprofile.css'%}">
<link rel="stylesheet" type="text/javascript" href = "{%static '/js/userprofile.js'%}">
{% if user.is_authenticated %}
<div class="container" style="margin-top:25%;">
    <form id="logoutForm" action="/logout" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">Hello {{ user.username }}!</span></li>
        <li><a href="{% url 'logout'%}">Log off</a></li>
    </ul>
</form>
</div>

<header class="header">

    <a href="#" class="logo"> <img src="images/Ra.TTsLogo.png" alt=""> </a>

    <div class="icons">
        <a href="productpayment.html"><div class="fa-solid fa-cart-shopping" id="cart_btn"></div></a>
        <div class="fa-solid fa-bell" id="bell_btn"></div>
        <div class="fas fa-user" id="User-Profile"></div>
        <div class="fas fa-bars" id="menu_btn"></div>
    </div>

    <nav class="navbar">
        <a href="statement.html">Statement</a>
        <a href="bookinglist.html">Booking Lists</a>
        <a href="changepassword.html">Change Password</a>
        <a href="reportproblem.html">Report a Problem</a>
        <a href="customersupport.html">Customer Support</a>
        <a href="Login.html">Log Out</a>
    </nav>

    <div action="" class="User-Profile">
        <img src="imgages/pic-4" alt="">
        <h2>User Name</h2>
        <h2>9800000000</h2>
        <h2>email11@gmail.com</h2>
    </div>

</header>
<!-- header section ends -->

<!-- features section starts -->
<section class="bookings" id="bookings">
    <h1 class="heading"> Booking Features </h1>

    <div class="icon-container">

        <div class="icon">
            <img src="images/flight.png" alt="">
            <h3>Flight</h3>
         
        </div>

        <div class="icon">
            <img src="images/bus.png" alt="">
            <h3>Bus</h3>
            
        </div>

        <div class="icon">
            <img src="images/cablecar.png" alt="">
            <h3>Cable Car</h3>
            
        </div>

        <div class="icon">
            <img src="images/guide.png" alt="">
            <h3>tourist guide</h3>
            
        </div>

        <div class="icon">
            <img src="images/homestay.png" alt="">
            <h3>Home Stay</h3>
            
        </div>

        <div class="icon">
            <img src="images/bike.png" alt="">
            <h3>Ride Share</h3>
            
        </div>

    </div>

</section>

<!-- features section ends -->

<!-- shop section starts  -->

<section class="shop" id="shop">

    <h1 class="heading">featured products</h1>

    <div class="swiper product-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/product-1.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-eye"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Trekking Bag</h3>
                    <div class="price"> Rs.2500 - Rs.5000 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/product-2.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-eye"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Portable Knife </h3>
                    <div class="price"> Rs.500 - Rs.2500 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/product-3.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-eye"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Sun Glass</h3>
                    <div class="price"> Rs.300 - Rs.2500 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/product-4.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-eye"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Trekking Shoes</h3>
                    <div class="price"> Rs.2800 - Rs.7500 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/product-5.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-eye"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3>Iron Hook</h3>
                    <div class="price"> Rs.10 - Rs.500 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide">
                <div class="image">
                    <img src="images/product-6.jpg" alt="">
                    <div class="icons">
                        <a href="#" class="fas fa-shopping-cart"></a>
                        <a href="#" class="fas fa-eye"></a>
                        <a href="#" class="fas fa-share"></a>
                    </div>
                </div>
                <div class="content">
                    <h3> Barbque Machine </h3>
                    <div class="price"> Rs.1500 - Rs.10000 </div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>

</section>

<!-- shop section ends -->

<!-- packages section starts  -->

<section class="packages" id="packages">

    <h1 class="heading">popular packages</h1>

    <div class="box-container">
        {%for data in room%} {% if data.id not in book %}
        <div class="box">
            <div class="image">
                <img src="{{data.image.url}}" alt="Responsive image">
            </div>
            <div class="content">
                <h3>{{data.Category}}</h3>
                <p>{{data.description}} </p>
                <div class="price"> {{data.Price}}</div> 
                <a href="packagepayment.html" class="btn"><button type="submit" class="btn">Book Now</button></a>                
            </div>
        </div>
        {%endif%}{%endfor%}

        <div class="box">
            <div class="image">
                <img src="images/liphulekh.jpg" alt="">
            </div>
            <div class="content">
                <h3>Humla-Jumla to Liphulekh Trekking Package</h3>
                <p>Grab the trekking package Humla-Jumla to Liphulekh with the trustable toursit guide with affordable charges.</p>
                <div class="price">Rs.20,000 - Rs.40,000</div>
                <a href="packagepayment.html"><button type="submit" class="btn">Book Now</button></a>    
            </div>
        </div>
    </div>

</section>

<!-- packages section ends -->


{% else %}

<p>User not Valid</p>

{% endif %}
{%endblock%}

